body {
    background-color: #2d2b3c;
    box-sizing: border-box;
}

.team-heading {
    background-color: #000000;
    color: white;
}

.team-area {
    display: flex;
    flex-flow: row wrap;
}

.card {
    border-color: #2d2b3c;
    margin: 10px;
    background-color: #dfdfdf;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.list-group-item {
    background-color: #dfdfdf;
}

.manager {
    width: 80%;
}

.engineer {
    width: 40%;
}

.intern {
    width: 30%;
}

.manager>.card-header {
    background-color: #ff0000;
    color: white;
}

.engineer>.card-header {
    background-color: #242424;
    color: white;
}

.intern>.card-header {
    background-color: #c13d3d;
    color: white;
}
